extends ../layout

append css
  link(rel='stylesheet', href='/css/bootstrap-fileupload.min.css')

block content
  .container
    ul#tab.nav.nav-tabs
      li(class=selected === 'download' ? 'active' : '')
        a(href='#download', data-toggle='tab') Download
      if remain
        li(class=selected === 'upload' ? 'active' : '')
          a(href='#upload', data-toggle='tab') Upload
      else
        li.disabled: a Upload
    .spacer20

    #tabContent.tab-content
      #download.tab-pane.fade(class=selected === 'download' ? 'active in' : '')
        .form-group
          .col-sm-4
            a.btn.btn-primary(href=graph + '/download')
              i.glyphicon.glyphicon-download
              |  Download

      #upload.tab-pane.fade(class=selected === 'upload' ? 'active in' : '')
        #timer.progress.progress-striped.active
          .progress-bar.progress-bar-danger(data-remain='#{remain || 0}',
                                            data-timeout='#{timeout || 0}',
                                            style='width: 0%')

        form(action=graph + '/upload',
             method='post',
             enctype='multipart/form-data')
          .fileupload.fileupload-new(data-provides='fileupload',
                                     data-name='vertices')
            .form-group
              .row: .col-sm-8
                .input-group
                  .form-control.uneditable-input
                    i.glyphicon.glyphicon-file.fileupload-exists
                    span= ' '
                    span.fileupload-preview
                  span.input-group-btn
                    span.btn.btn-info.btn-file
                      span.fileupload-new Select file
                      span.fileupload-exists Change
                      input(type='file')
                    a.btn.btn-warning.btn-file.fileupload-exists(
                        data-dismiss='fileupload') Remove

            .form-group
              .row: .col-sm-4
                button.btn.btn-primary.btn-file.fileupload-exists(type='submit')
                  i.glyphicon.glyphicon-upload
                  |  Upload

append js
  script(src='/js/bootstrap-fileupload.min.js')
  script(src='/js/submit-form.js')
