extends ../layout

append css
  link(rel='stylesheet', href='/css/bootstrap-fileupload.min.css')

block content
  .container
    ul#tab.nav.nav-tabs
      li(class=selected === 'download' ? 'active' : '')
        a(href='#download', data-toggle='tab') Download
      if remain
        li(class=selected === 'upload' ? 'active' : '')
          a(href='#upload', data-toggle='tab') Upload
      else
        li.disabled: a Upload

    #tabContent.tab-content
      #download.tab-pane.fade(class=selected === 'download' ? 'active in' : '')
        .control-group
          .controls
            a.btn.btn-primary(href=submission + '/download')
              i.icon-download.icon-white
              |  Download

      #upload.tab-pane.fade(class=selected === 'upload' ? 'active in' : '')
        #timer.progress.progress-striped.active
          .bar.bar-danger(
            data-remain='#{remain || 0}'
          , data-timeout='#{timeout || 0}'
          , style='width: 0%'
          )

        form(action=submission + '/upload', method='post', enctype='multipart/form-data')
          .fileupload.fileupload-new(data-provides='fileupload', data-name='vertices')
            .control-group
              .input-append
                .input-large.uneditable-input
                  i.icon-file.fileupload-exists
                  | 
                  span.fileupload-preview
                span.btn.btn-info.btn-file
                  span.fileupload-new Select file
                  span.fileupload-exists Change
                  input(type='file')
                a.btn.btn-warning.btn-file.fileupload-exists(data-dismiss='fileupload') Remove
            .control-group
              .control
                button.btn.btn-primary.btn-file.fileupload-exists(type='submit')
                  i.icon-upload.icon-white
                  |  Upload

append js
  script(src='/js/bootstrap-fileupload.min.js')
  script(src='/js/submit-form.js')
