extends ../layout

block content
  .container
    table.table.table-striped.table-bordered
      thead
        tr
          th
          each category in categories
            each value, key in category
              th(colspan=value.length)= key
        tr
          th
          for graph in graphs
            th= graph
      tbody
      each row, i in matrix
        tr
          td= teams[i]
          each col, j in row
            td
              if col
                each entry, k in col
                  if k !== 0
                    br
                  a(href='graph/' + entry.id,
                    data-toggle='popover',
                    data-placement='top',
                    data-content=entry.teams.join(' '))= entry.score

append js
  script(src='/js/load-tooltips.js')
